    </div>
    <div class="footer">
        <div>
            <p class="text-center">&copy ERICK MANUEL VILLAFUERTE RAMIREZ</p>
        </div>
        <div class="cont-redes">
            <div class="redes">
                <img src="{{ url_for('static', filename='img/facebook.png') }}" alt="Facebook">
            </div>
            <div class="redes">
                <img src="{{ url_for('static', filename='img/github.png') }}" alt="Github">
            </div>
            <div class="redes">       
                <img src="{{ url_for('static', filename='img/instagram.png') }}" alt="Instagram">
            </div>
        </div>
    </div>
    </body>
    </html>